node_modules
*.vsix
out/*
dist/*
test/*
/src/parser/grammars/.antlr
.vscode/bookmarks.json
src/parser/mxsLexer.interp
src/parser/mxsLexer.tokens
src/parser/mxsLexer.ts
src/parser/mxsParser.interp
src/parser/mxsParser.tokens
src/parser/mxsParser.ts
src/parser/mxsParserListener.ts
src/parser/mxsParserVisitor.ts
