.vscode/**
.vscode-test/**
.gitignore
.github
vsc-extension-quickstart.md
src/**
out/**
!out/extension.cjs
node_modules/**
scripts/**
.eslintrc.json
tsconfig.json
esbuild.cjs
eslint.config.js
*.md
!README.md
!CHANGELOG.md
dev-notes/**
parser/grammars/**
**/*.bak
tokenColorCustomizations-example.jsonc
syntaxes/*.yaml
images/**
