.eslintignore
.eslintrc.json
.gitattributes
.gitignore
.travis.yml
.vscode/**
node_modules/**
**/*.ts
**/tsconfig.*.json
**/tsconfig.json
**/*.webpack.config.js
scripts/**
client/**
!client/out/*.js
!client/out/*.*.map
server/**
!server/out/*.js
!server/out/*.*.map