.eslintignore
.eslintrc.json
.gitattributes
.gitignore
.travis.yml
.vscode/**
**/*.map
**/*.ts
**/tsconfig.base.json
**/tsconfig.json
contributing.md
scripts/**
shared.webpack.config.js
client/**
!client/out/extension.js
server/**
!server/out/server.js